Title: AppVeyor API Client
NoSidebar: true
NoTitle: true
---

<h2>Continuous Integration</h2>
<table class="table">
    <tr>
        <th>CI</th>
        <th>Operative System</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>AppVeyor</td>
        <td>Windows</td>
        <td><a href="https://ci.appveyor.com/project/antunesl/appveyor-api-client"><img src="https://ci.appveyor.com/api/projects/status/2xx9hvhcyc247dtm?svg=true" /></a></td>
    </tr>

    <tr>
        <td>Travis CI</td>
        <td>Linux</td>
        <td><a href="https://www.nuget.org/packages/AppVeyorClient/"><img src="https://travis-ci.org/antunesl/appveyor-api-client.svg?branch=master" /></a></td>
    </tr>
    
</table>


<h2>Nuget</h2>
<p><a href="https://travis-ci.org/antunesl/appveyor-api-client"><img src="https://img.shields.io/nuget/v/AppVeyorClient.svg" /></a></p> 


<hr/>

<h2>Usage</h2>
<code>
    using AppVeyorApiClient;
</code>