Title: Home
NoSidebar: true
NoTitle: true
---
<h1>AppVeyor API Client</h1>

<h3>Nuget</h3>
<p><a href="https://www.nuget.org/packages/AppVeyorClient/"><img src="https://img.shields.io/nuget/v/AppVeyorClient.svg" /></a></p> 


<h3>Usage</h3>
<code>
    using AppVeyorApiClient;
</code>